:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}

body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
}

.child-full {
	display: flex;
	flex-direction: column;
	& > * {
		flex-grow: 1;
	}
}

* svg:focus {
	outline: 0;
}

@font-face {
	font-family: 'Notes';
	src: url('/static/fonts/notes.woff') format('woff'), url('/static/fonts/notes.ttf') format('ttf'),
		url('/static/fonts/notes.eot') format('eot'), url('/static/fonts/notes.svg') format('svg');
}
