$primary: DeepSkyBlue;

$nav: $primary;

$sidebar: white;
$sidebar-icons: DarkGray;
$sidebar-icons--hover: LightSkyBlue;
$sidebar-icons--active: $primary;

$toolbar: whitesmoke;
$toolbar-icon: SlateGray;
$toolbar-icon--hover: LightSlateGray;
$toolbar-icon--active: DarkSlateGray;

$editor-bg: GhostWhite;
$editor-active: $primary;
